[defaults]
inventory           = ./infra/ansible/inventory/hosts.yaml
remote_user         = root
host_key_checking   = false
log_path            = ./data/ansible-log.txt
vault_password_file = ~/.ansible_vault_pass.txt
interpreter_python = /usr/bin/python3.12

[privilege_escalation]
become      = true
become_user = root

[connection]
pipelining = true

[ssh_connection]
password_mechanism = sshpass
